{{ range $index, $layer := .Site.Data.layers }}

<input type="hidden" class="layers" layer-id="{{$index}}" layer-name="{{$layer.name}}" base-layer="{{$layer.baselayer}}" {{ printf "layer-src=%q" $layer.link | safeHTMLAttr }} layer-type="{{$layer.src_type}}">

{{ range $ind, $opt := $layer.options }}
<input type="hidden" class="layer-options" layer="{{$layer.name}}" opt-name="{{ $ind }}" opt-value="{{ $opt }}">
{{end}}

{{ range $ind, $opt := $layer.style }}
<input type="hidden" class="layer-style" layer="{{$layer.name}}" style-name="{{ $ind }}" style-value="{{ $opt }}">
{{end}}

{{end}}

{{ range $index, $section := sort .Site.Data.sections "weight" }}
   {{ if $section.main_title }}
   <section data-scene="{{ $section.name }}" data-background="{{ $section.background_media }}" lat="{{ $section.lat }}" lng="{{ $section.lng }}" zoom="{{ $section.zoom }}" layers="" init-js="{{ $section.init_js}}">
   {{ else }}
   <section data-scene="{{ $section.name }}" lat="{{ $section.lat }}" lng="{{ $section.lng }}" zoom="{{ $section.zoom }}" layers="{{ $section.layers }}" init-js="{{ $section.init_js}}">
   {{end}}
   {{ if $section.main_title }}
	<div class="fullscreen text-center">
	    <h1 class="display-4 d-flex justify-content-center main-title">{{ $section.main_title}}</h1>
   		{{ if $section.main_title }}
	    <span class="subtitle" class="d-flex justify-content-center">{{ $section.main_description}}
	    </span>
	    {{end}}
	    }
	</div>
	{{end}}

   {{ if $section.left_title }}
    <h2>{{ $section.left_title }}</h2>
    {{end}}
	{{ if $section.left_text }}
    <p class="medium-text">{{ $section.left_text}}</p>
    {{end}}
	{{ if $section.left_img }}
    <img src="{{ $section.left_img }}" style="width:100%;padding-top:20px">
    {{end}}
	{{ if $section.left_svg_class }}
    <svg class="{{ $section.left_svg_class }}"></svg>
    {{end}}

</section>
{{end}}

