<div class="container-fluid" id="splash">  
  <div class="row">
    <div class="col">
      <h1>Carbon - From top to bottom</h1>
    <div>
      Carbon is a building block of every life form and a main contributor to climate warming. Trees provide a key ecosystem service by storing carbon and transferring it to the soil. 
    </div>
    <hr class="my-4">
    <p>
      Yaddih, yaddah
    </p>
    <button id="splash-next" type="button" class="btn btn-success">Start exploring!</button>
    </div>
  </div>
</div>